META_ACCESS_TOKEN=EAATA6rfGwpcBSBNlZAQL1IR3bdBiNzQVQCwTfaXYobRMCdwWjzF1h0R7FQ4FKsJdzQ8rXBorZBOQo89bKSKTviT4ZAI3hQ0rhllEwUlGHM6dWxHTZCqQsFZCDGf7J72XVEZBUI6svWNG5L6fxGFHD7VqZCB6esNuUKKXHflM7UOTANgP0Qn1NG9ZCI5XVd6e6V3HGevFyejZAG01ZCeZBZBJINK4JSY1l01wXpzNPMOE
META_PHONE_NUMBER_ID=1207430632457102
META_WABA_ID=1992412991385697
META_APP_ID=1338014244979351
META_APP_SECRET=b8a8f24574580d3032505dba4011b5d1
META_VERIFY_TOKEN=dyp_verify_2026
DATABASE_URL=postgresql://dyp_bot_db_user:uSAmI3Qra4gTTwNtE612ddF728uII2mJ@dpg-d9j24nrrjlhs73fphsb0-a.oregon-postgres.render.com/dyp_bot_db